.appeal {
  position: relative;
  height: 305px;
  margin-bottom: 197px;
  padding-top: 27px;
  padding-bottom: 25px;
  padding-left: 6.25%;
  padding-right: 6.25%;
  background-color: $white-bg-clr;
  background-image: url("../img/index-background-mobile@1x.jpg"), linear-gradient(90deg, #68a941 50%, #63a73b 50%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  z-index: 1;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg"), linear-gradient(90deg, #68a941 50%, #63a73b 50%);
  }
}

.appeal__title {
  font-family: $oswald-fnt;
  font-size: 36px;
  line-height: 36px;
  color: white;
  width: 280px;
  margin: auto;
  font-weight: 400;
  text-align: center;
  margin-bottom: 25px;
}

.appeal__slogan {
  font-family: $oswald-fnt;
  font-size: 14px;
  line-height: 14px;
  color: white;
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
  text-align: center;
  margin-bottom: 302px;
}

.appeal__image {
  position: absolute;
  left: 0;
  right: 0;
  top: 166px;
  margin: auto;
  z-index: -1;
}

.appeal__button {
  font-size: 14px;
  line-height: 18px;
  padding: 11px;
}

@media ($tablet-width) {
  .appeal {
    height: auto;
    margin-bottom: 533px;
    padding: 0;
    padding-top: 58px;
    background-image: none;
  }

  .appeal__wrapper {
    padding-left: 120px / 768px * 100%;
    padding-right: 30px / 768px * 100%;
  }

  .appeal__title {
    width: 450px;
    margin: 0;
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
    color: $black-txt-clr;
    text-align: left;
  }

  .appeal__slogan {
    width: 450px;
    margin-bottom: 44px;
    font-size: 20px;
    line-height: 20px;
    color: $black-txt-clr;
    text-align: left;
  }

  .appeal__button {
    width: 245px;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    padding: 16px;
  }

  .appeal__image {
    position: absolute;
    left: 0;
    right: 0;
    top: 258px;
    margin: auto;
    width: 710px;
  }
}

@media ($desktop-width) {
  .appeal {
    height: 696px;
    margin-top: -113px;
    margin-bottom: 80px;
    padding-top: 222px;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    background-image: url("../img/index-background-desktop@1x.jpg"), linear-gradient(90deg, $white-bg-clr calc(50% + 40px), #63a73b calc(50% + 40px));
    background-repeat: no-repeat repeat;
    background-position-x: calc(50vw + 40px), left;
    background-size: contain;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg"), linear-gradient(90deg, $white-bg-clr calc(50% + 40px), #63a73b calc(50% + 40px));
    }
  }

  .appeal__wrapper {
    padding-left: 120px;
    margin: 0 auto;
    width: 1300px;
  }

  .appeal__slogan {
    margin-bottom: 53px;
  }

  .appeal__image {
    left: 230px;
    top: 142px;
    width: 550px;
  }
}
