.appeal {
  position: relative;
  z-index: 1;
  padding-top: 28px;
  padding-bottom: 22px;
  padding-left: 6.25%;
  padding-right: 6.25%;
  background-color: $white-bg-clr;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 305px;
  margin-bottom: 197px;
}

.appeal__title {
  font-family: $oswald-fnt;
  font-size: 36px;
  line-height: 36px;
  color: white;
  width: 280px;
  margin: auto;
  font-weight: 400;
  text-align: center;
  margin-bottom: 24px;
}

.appeal__slogan {
  font-family: $oswald-fnt;
  font-size: 14px;
  line-height: 14px;
  color: white;
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
  text-align: center;
  margin-bottom: 302px;
}

.appeal__image {
  position: absolute;
  left: 0;
  right: 0;
  top: 166px;
  margin: auto;
  z-index: -1;
}

@media ($tablet-width) {
  .appeal {
    padding-top: 58px;
    padding-bottom: 336px;
    padding-left: $tablet-external-padding;
    padding-right: $tablet-external-padding;
    background-image: none;
    height: auto;
  }

  .appeal__wrapper {
    padding-left: 90px;
  }

  .appeal__title {
    width: 450px;
    margin: 0;
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
    color: $black-txt-clr;
    text-align: left;
  }

  .appeal__slogan {
    width: 450px;
    margin-bottom: 44px;
    font-size: 20px;
    line-height: 20px;
    color: $black-txt-clr;
    text-align: left;
  }

  .appeal__button {
    width: 245px;
    margin: 0;
  }

  .appeal__image {
    position: absolute;
    left: 80px;
    right: 0;
    top: 258px;
    margin: auto;
    width: 630px;
  }
}

@media ($desktop-width) {
  .appeal {
    height: 583px;
    padding-top: 109px;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 80px;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-size: contain;
    background-position-x: right;
  }

  .appeal__wrapper {
    padding-left: 120px;
    margin: 0 auto;
    width: 1300px;
  }

  .appeal__slogan {
    margin-bottom: 53px;
  }

  .appeal__image {
    position: absolute;
    left: 270px;
    right: 0;
    top: 24px;
    margin: auto;
    width: 520px;
  }
}
