.button {
  margin: auto;
  padding: 10px;
  display: block;
  background-color: $green-bg-clr;
  font-family: $oswald-fnt;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $white-bg-clr;
  text-transform: uppercase;
  text-align: center;
  border: none;
  width: 100%;

  &:hover {
    background-color: $green-h-bg-clr;
  }

  &--gray {
    background-color: $gray-bg-clr;
    color: $black-txt-clr;

    &:hover {
      background-color: $gray-h-bg-clr;
      color: $black-txt-clr;
    }
  }

  &:active {
    span {
      opacity: 0.3;
    }
  }
}

@media ($tablet-width) {
  .button {
    font-size: 20px;
    line-height: 20px;
    padding: 16px;
  }
}
