.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover,
  &:focus {
    path {
      fill: $green-bg-clr;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  font-family: $arial-fnt;
  font-size: 16px;
  line-height: 16px;
  color: $gray-txt-clr;
  font-weight: normal;
}

.copyright__image {
  display: block;
}

@media ($tablet-width) {
  .copyright {
    min-width: 162px;
  }
}
