.goods-card {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  border-bottom: 1px solid $gray-t-brdr-clr;

  &:last-child {
    border-bottom: 0;
  }
  padding-bottom: 24px;
  padding-left: calc(6.25% - 1px);
  padding-right: calc(6.25% - 1px);
}

.goods-card__title {
  font-family: $oswald-fnt;
  font-size: 16px;
  line-height: 20px;
  color: $black-txt-clr;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
  width: 100px;
  margin-bottom: 13px;
}

.goods-card__table {
  font-family: $arial-fnt;
  font-size: 12px;
  line-height: 16px;
  color: $gray-txt-clr;
  margin: 0;
  font-weight: 400;
  border-collapse: collapse;
  width: 100%;
}

.goods-card__data {
  padding: 0;
  text-align: left;

  &:nth-child(2) {
    text-align: right;
  }
}

.goods-card__image-link {
  display: block;
  width: 50%;

  &:active,
  &:focus {
    .goods-card__image {
      opacity: 0.3;
    }
  }
}

.goods-card__link {
  &:active,
  &:focus {
    .goods-card__title {
      opacity: 0.3;
    }
  }
}

.goods-card__image {
  display: block;
  margin: auto;
}

.goods-card__wrapper {
  padding-top: 21px;
  margin-bottom: 21px;
  width: 50%;
}

@media ($tablet-width) {
  .goods-card {
    width: 324px / 708px * 100%;
    margin-top: 105px;
    margin-bottom: 35px;
    padding-top: 163px;
    padding-bottom: 40px;
    padding-left: 38px / 708px * 100%;
    padding-right: 38px / 708px * 100%;
    border-bottom: 0;
    background-color: $gray-bg-clr;
  }

  .goods-card__image-link {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: 260px;
    margin: auto;
    width: 140px;
  }

  .goods-card__wrapper {
    padding-top: 0;
    margin-bottom: 0;
    width: 100%;
  }

  .goods-card__title {
    font-size: 20px;
    line-height: 20px;
    color: $black-txt-clr;
    width: 150px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
  }

  .goods-card__table {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 32px;
    width: 100%;
  }

  .goods-card__row {
    border-bottom: 1px solid $gray-brdr-clr;
  }

  .goods-card__data {
    padding-top: 7px;
    padding-bottom: 8px;
  }

  .goods-card__button {
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
  }
}

@media ($desktop-width) {
  .goods-card {
    width: 245px;
    margin-top: 105px;
    margin-bottom: 37px;
    padding-top: 163px;
    padding-bottom: 40px;
    padding-left: 38px;
    padding-right: 38px;
    border-bottom: 0;
    background-color: $gray-bg-clr;

    &:nth-child(1n+0) {
      margin-right: auto;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
