.goods {
  padding-top: 3px;
}

.goods__list {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid $gray-t-brdr-clr;
}

@media ($tablet-width) {
  .goods {
    padding-top: 0;
  }

  .goods__list {
    border: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 30px / 768px * 100%;
    padding-right: 30px / 768px * 100%;
  }
}

@media ($desktop-width) {
  .goods__list {
    padding-left: 40px;
    padding-right: 40px;
    width: 1300px;
    margin: 0 auto;
  }
}
