.how-it-works {
  padding-top: 16px;
  padding-bottom: 42px;
  padding-left: 6.25%;
  padding-right: 6.25%;
}

.how-it-works__title {
  font-family: $oswald-fnt;
  font-size: 36px;
  line-height: 60px;
  color: $black-txt-clr;
  margin: 0;
  font-weight: 400;
  margin-bottom: 28px;
}

.how-it-works__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.how-it-works__item {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 80px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.how-it-works__text {
  font-family: $arial-fnt;
  font-size: 14px;
  line-height: 18px;
  color: $gray-txt-clr;
  margin: 0;
}

@media ($tablet-width) {
  .how-it-works {
    padding-top: 45px;
    padding-bottom: 58px;
    padding-left: $tablet-external-padding;
    padding-right: $tablet-external-padding;
    border-bottom: 1px solid $gray-t-brdr-clr;
  }

  .how-it-works__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
  }

  .how-it-works__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .how-it-works__item {
    margin-bottom: 89px;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 112px;
    padding-bottom: 44px;
    width: 324px / 708px * 100%;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(2) {
      margin-bottom: 0;
    }

    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }

  .how-it-works__text {
    font-size: 16px;
    line-height: 24px;
    width: 245px;
  }
}

@media ($desktop-width) {
  .how-it-works {
    padding-top: 43px;
    padding-bottom: 0;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: none;
    margin: 0 auto;
    width: 1300px;
  }

  .how-it-works__item {
    margin-bottom: 89px;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 112px;
    width: 245px;

    &:nth-child(1n+0) {
      margin-bottom: 39px;
      margin-right: auto;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
