.main-nav__head {
  position: relative;
  text-align: center;
  border-bottom: 1px solid $gray-t-brdr-clr;
  padding: 0;
  height: 66px;
}

.main-nav__toogle {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: calc(12.5% + 24px);
  height: 100%;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.main-nav--hide .main-nav__toogle {
  &::before {
    content: "";
    position: absolute;
    top: 23px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 24px;
    height: 2px;
    background-color: #000000;
    box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
  }
}

.main-nav--show .main-nav__toogle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 31px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 24px;
    height: 2px;
    background-color: #000000;
    box-shadow: none;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media ($tablet-width) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    padding: 0 30px / 768px * 100%;
    align-items: flex-start;
  }

  .main-nav__head {
    border-bottom: none;
    height: auto;
    padding: 0;
    text-align: left;
    padding-top: 21px;/*временно*/
  }

  .main-nav__toogle {
    display: none;
  }
}

@media ($desktop-width) {
  .main-nav {
    padding: 0 40px;
  }
}
