.meal-plans {
  padding-left: 6.25%;
  padding-right: 6.25%;
  background-color: $white-bg-clr;
}

.meal-plans__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media ($tablet-width) {
  .meal-plans {
    padding: 0;
  }

  .meal-plans__list {
    padding: 0 30px / 768px * 100%;
  }
}

@media ($desktop-width) {
  .meal-plans__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    width: 1300px;
  }
}
