@media ($tablet-width) {
  .page-header {
    padding-top: 25px;
  }
}

@media ($desktop-width) {
  .page-header {
    position: relative;
    width: 1300px;
    margin: 0 auto;
    padding-top: 53px;
    z-index: 2;
  }
}
