.page-footer {
  background-color: $gray-bg-clr;
  position: relative;
}

.page-footer__contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 6.25%;
  padding-right: 6.25%;
}

.page-footer__map-wrapper {
  position: relative;
  width: 100%;
  height: 360px;
  background-color: #d9e9f9;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center calc(50% - 20px);

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }

  &::before {
    content: "";
    position: absolute;
    width: 62px;
    height: 62px;
    left: 0;
    right: 0;
    top: 132px;
    margin: auto;
    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.page-footer__map {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
}

.page-footer__wrapper {
  padding-left: 6.25%;
  padding-right: 6.25%;
}

.page-footer__logo {
  display: block;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 28px;
  border-bottom: 1px solid $black-t-brdr-clr;

  &[href] {
    &:hover {
      opacity: 0.8;
    }

    &:active,
    &:focus {
      opacity: 0.6;
    }
  }
}

.page-footer__social {
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom: 1px solid $black-t-brdr-clr;
}

.page-footer__copyright {
  padding-top: 18px;
  padding-bottom: 20px;
}

@media ($tablet-width) {
  .page-footer__contacts {
    padding-top: 65px;
    padding-bottom: 58px;
    padding-left: 30px / 768px * 100%;
    padding-right: 30px / 768px * 100%;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px / 768px * 100%;
    padding-right: 30px / 768px * 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .page-footer__map-wrapper {
    height: 396px;
    background-image: url("../img/bg-map-tablet@1x.png");
    background-position: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }

    &::before {
      width: 122px;
      height: 122px;
      top: 140px;
    }
  }

  .page-footer__logo {
    border-bottom: none;
    padding: 0;
    min-width: 162px;
    text-align: left;
  }

  .page-footer__logo-text {
    display: block;
  }

  .page-footer__social {
    border-bottom: none;
    padding: 0;
  }

  .page-footer__copyright {
    padding: 0;
    margin-bottom: -20px;
  }
}

@media ($desktop-width) {
  .page-footer__contacts {
    padding-top: 65px;
    padding-bottom: 58px;
    padding-left: 76px;
    padding-right: 76px;
    z-index: 1;
  }

  .page-footer__map-wrapper {
    height: 400px;
    background-image: url("../img/bg-map-desktop@1x.png");
    background-position: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }

    &::before {
      width: 122px;
      height: 122px;
      top: 140px;
    }
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 48px;
    padding-bottom: 51px;
    width: 1300px;
    margin: 0 auto;
  }

  .page-footer__logo {
    align-self: center;
  }
}
