.plan-card {
  background-color: $gray-bg-clr;
  margin-bottom: 19px;
  padding-top: 31px;
  padding-left: 7.15%;
  padding-right: 7.15%;
  padding-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.plan-card__title {
  font-family: $oswald-fnt;
  font-size: 24px;
  line-height: 37px;
  color: $black-txt-clr;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 28px;
  padding-left: 71px;
  font-weight: 400;
}

.plan-card__text {
  font-family: $arial-fnt;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  color: $gray-txt-clr;
  border-bottom: 1px solid $black-t-brdr-clr;
  padding-bottom: 22px;
  margin-bottom: 19px;
  font-weight: 400;
}

.plan-card__link {
  font-family: $oswald-fnt;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $black-txt-clr;
  font-weight: 400;
}

@media ($tablet-width) {
  .plan-card {
    background-color: $gray-bg-clr;
    margin-bottom: 30px;
    padding-top: 76px;
    padding-left: 52px / 708px * 100%;
    padding-right: 52px / 708px * 100%;
    padding-bottom: 59px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .plan-card__title {
    margin-bottom: 25px;
    padding: 0;
    font-size: 36px;
    line-height: 37px;
    width: 350px;
  }

  .plan-card__text {
    width: 344px;/*временно*/
    margin-bottom: 56px;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }

  .plan-card__link {
    font-size: 20px;
    line-height: 20px;
  }
}

@media ($desktop-width) {
  .plan-card {
    width: 570px;
    margin-right: auto;
    padding-left: 52px;
    padding-right: 52px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:last-child {
      margin-bottom: 30px;
    }
  }

  .plan-card__title {
    margin-bottom: 74px;
    padding-left: 162px;
    width: auto;
  }

  .plan-card__text {
    width: auto;
    margin-bottom: 31px;
  }
}
