.button {
  margin: auto;
  padding: 11px;
  display: block;
  background-color: #68b738;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  border: none;
  width: 100%;
  &--gray {
    background-color: #f2f2f2;
    color: #222222;
  }
}
