.contacts {
  background-color: #f2f2f2;

  &--index {
    background-color: #ffffff;
  }
}

.contacts__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
  width: 140px;
  max-width: 200px;
}

.contacts__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin: 0;
  font-weight: 400;
  width: 140px;
  max-width: 200px;
  text-align: left;
}

@media (min-width: 768px) {
  .contacts__title {
    font-size: 20px;
    line-height: 25px;
    padding-left: 40px;
    width: 200px;
  }

  .contacts__text {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    line-height: 20px;
    padding-right: 40px;
    width: 200px;
  }

  .contacts__addr {
    margin-bottom: 18px;
    display: block;
  }
}

@media (min-width: 1300px) {
  .contacts {
    position: absolute;
    width: 570px;
    height: 200px;
    top: 95px;
    left: 40px;
  }

  .contacts__text {
    text-align: left;
  }
}
