*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
