.goods-card {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  border-bottom: 1px solid #ededed;

  &:last-child {
    border-bottom: 0;
  }
  padding-bottom: 24px;
  padding-left: calc(6.25% - 1px);
  padding-right: calc(6.25% - 1px);
}

.goods-card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
  width: 100px;
  margin-bottom: 13px;
}

.goods-card__table {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;
  font-weight: 400;
  width: 140px;
  border-collapse: collapse;
}

.goods-card__data {
  padding: 0;
  text-align: left;

  &:nth-child(2) {
    text-align: right;
  }
}

.goods-card__image-link {
  display: block;
}

.goods-card__image {
  display: block;
  margin-left: auto;
}

.goods-card__wrapper {
  padding-top: 21px;
  margin-bottom: 21px;
}

@media (min-width: 768px) {
  .goods-card {
    width: 324px;
    margin-top: 105px;
    margin-right: 8%;
    margin-bottom: 35px;
    padding-top: 163px;
    padding-bottom: 40px;
    padding-left: 38px;
    padding-right: 38px;
    border-bottom: 0;
    background-color: #f2f2f2;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .goods-card__image-link {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: 260px;
    margin: auto;
    width: 140px;
  }

  .goods-card__wrapper {
    padding-top: 0;
    margin-bottom: 0;
    width: 100%;
  }

  .goods-card__title {
    font-size: 20px;
    line-height: 20px;
    color: #111111;
    width: 150px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
  }

  .goods-card__table {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 32px;
    width: 100%;
  }

  .goods-card__row {
    border-bottom: 1px solid #cdcdcd;
  }

  .goods-card__data {
    padding-top: 7px;
    padding-bottom: 8px;
  }

  .goods-card__button {
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
  }
}

@media (min-width: 1300px) {
  .goods-card {
    width: 245px;
    margin-top: 105px;
    margin-bottom: 37px;
    padding-top: 163px;
    padding-bottom: 40px;
    padding-left: 38px;
    padding-right: 38px;
    border-bottom: 0;
    background-color: #f2f2f2;

    &:nth-child(1n+0) {
      margin-right: auto;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
