.goods__list {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #ededed;
}

.goods__item {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 6.25%;
  padding-right: 6.25%;
  border-bottom: 1px solid #ededed;
  &:last-child {
    border-bottom: 0;
  }
}
