.goods {
  padding-top: 3px;
}

.goods__list {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #ededed;
}

@media (min-width: 768px) {
  .goods {
    padding-top: 0;
  }

  .goods__list {
    border: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1300px) {
  .goods__list {
    padding-left: 40px;
    padding-right: 40px;
  }
}
