.goods-more-card {
  padding-top: 80px;

}

.goods-more-card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.goods-more-card__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;
  font-weight: normal;
  text-align: center;
  margin-bottom: 20px;
}
