.main-nav-logo {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 24px;
}

.main-nav-logo__image {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.main-nav-logo__text {
  display: block;
  margin: auto;
}

@media (min-width: 768px) {
  .main-nav-logo {
    position: relative;
    padding-top: 0;
  }

  .main-nav-logo__image {
    position: static;
    margin: 0;
  }

  .main-nav-logo__text {
    display: none;
  }
}
