.meal-plans {
  padding-left: 6.25%;
  padding-right: 6.25%;
  background-color: #ffffff;
}

.meal-plans__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .meal-plans {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1300px) {
  .meal-plans {
    padding-left: 40px;
    padding-right: 40px;
  }

  .meal-plans__list {
    display: flex;
    justify-content: space-between;
  }
}
