.page-header {
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .page-header {
    background-color: transparent;
    padding-top: 24px;
  }
}

@media (min-width: 1300px) {
  .page-header {
    padding-top: 55px;
  }
}
