.page-main {
  padding-top: 30px;
  &--index {
    padding-top: 0;
  }
}

.page-main__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
  margin: 0;
  margin-bottom: 40px;
  padding-left: 6.25%;
  padding-right: 6.25%;
  font-weight: normal;
}
