.picking__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #111111;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 16px;
  padding-left: 6.25%;
  padding-right: 6.25%;
}

.picking-form__note {
  display: block;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  margin: 0;
  font-weight: normal;
}

.picking-form__note-sup {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  font-weight: normal;
}
