$oswald-fnt: "Oswald", "Arial", sans-serif;
$arial-fnt: "Arial", sans-serif;

$desktop-width: "min-width: 1300px";
$tablet-width: "min-width: 768px";

$black-txt-clr: #111111;
$black-l-txt-clr: #222222;
$gray-txt-clr: #444444;
$white-txt-clr: #ffffff;

$white-bg-clr: #ffffff;
$gray-bg-clr: #f2f2f2;
$green-bg-clr: #68b738;
$gray-brdr-clr: #cdcdcd;

$green-brdr-clr: #68b738;
$gray-t-brdr-clr: rgba(#cdcdcd, 0.5%);
$black-t-brdr-clr: rgba(#000000, 0.1%);

$tablet-external-padding: 30px / 768px * 100%;
